/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment
pre .hljs-comment
pre .hljs-title {
  color: #8e908c;
}

.tomorrow-red
pre .hljs-variable
pre .hljs-attribute
pre .hljs-tag
pre .hljs-regexp
pre .hljs-ruby .constant
pre .hljs-xml .tag .title
pre .hljs-xml .pi
pre .hljs-xml .doctype
pre .hljs-html .doctype
pre .hljs-css .id
pre .hljs-css .class
pre .hljs-css .pseudo {
  color: #c82829;
}

.tomorrow-orange
pre .hljs-number
pre .hljs-preprocessor
pre .hljs-built_in
pre .hljs-literal
pre .hljs-params
pre .hljs-constant {
  color: #f5871f;
}

.tomorrow-yellow
pre .hljs-class
pre .hljs-ruby .class .title
pre .hljs-css .rules .attribute {
  color: #eab700;
}

.tomorrow-green
pre .hljs-string
pre .hljs-value
pre .hljs-inheritance
pre .hljs-header
pre .hljs-ruby .symbol
pre .hljs-xml .cdata {
  color: #718c00;
}

.tomorrow-aqua
pre .hljs-css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue
pre .hljs-function
pre .hljs-python .decorator
pre .hljs-python .title
pre .hljs-ruby .function .title
pre .hljs-ruby .title .keyword
pre .hljs-perl .sub
pre .hljs-javascript .title
pre .hljs-coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple
pre .hljs-keyword
pre .hljs-javascript .function {
  color: #8959a8;
}

pre code {
  display: block;
  background: #eee;
  color: #4d4d4c;
  font-size 15px
  font-family: Monaco, Consolas, monospace;
  padding: 10px;
}