.atomic-center 
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)

.mute
	color #888

code
	background-color #ededed
	border-radius 3px
	padding 2px 5px

button, .btn
	text-decoration none
	color #333
	background-color transparent
	border 1px solid #aaa
	padding 10px
	font-size 80%
	border-radius 5px
	font-family "Open Sans"
	cursor pointer
	img, svg
		vertical-align middle
		margin-top -5px
		path
			fill #333
		
	&:hover
		background-color #0001

	&.reverse
		border-color white
		color white
		&:hover
			background-color #fff3
	
a
	color #666
	&:hover
		color inherit
	
	cursor pointer
	text-decoration underline

.text-center
	text-align center