.hljs-comment,
.hljs-quote 
  color #a7adba


.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo

  color #d08770

.hljs-attribute

  color #4f5b66
  font-style italic


.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params 
  color #96b5b4


.hljs-string,
.hljs-symbol,
.hljs-bullet 
  color #7b9726


.hljs-title,
.hljs-section 
  color #407ee7


.hljs-keyword,
.hljs-attr 
  color #b48ead

.hljs-selector-tag 

  color #bf616a


.hljs 
  display block
  overflow-x auto
  background #eff1f5
  color #4f5b66
  padding 0.5em


.hljs-emphasis 
  font-style italic


.hljs-strong 
  font-weight bold

