/* -------------------------------------------- */
/* ------------ projects - sidebar ------------ */
/* -------------------------------------------- */
.projects
	padding 0
	margin 0
	list-style none
	position absolute
	bottom 0
	top 40px
	left 10px
	right 0
	overflow auto
	overflow-x auto

.projects ul
	// deployed folder
	list-style none
	padding-left 10px
	

.projects li
	width 100%
	white-space nowrap
	text-overflow none
	margin-bottom 5px
	margin-top 5px

.projects li a
	cursor pointer
	&:hover
		text-decoration underline

/* --------------------------------- */
/* ------------ Spoiler ------------ */
/* --------------------------------- */

.spoiler-button
	size 12px
	vertical-align middle
	display inline-block
	border 2px solid #ccc
	border-left-color transparent
	border-bottom-color transparent
	transform rotate(45deg)
	margin-right 10px
	transition all .2s
	&[deployed=on]
		transform rotate(45deg + 90)
		margin-left 3px
		margin-right 7px
	&:hover
		border-top-color #333
		border-right-color @border-top-color

.spoiler-replace
	@extends .spoiler-button
	border-color transparent
	&:hover
		border-color transparent



/* ------------------------------------------------- */
/* ------------ items in the main panel ------------ */
/* ------------------------------------------------- */

.items
	padding 0
	list-style none
	margin 0
	position absolute
	left 10px
	right 0
	overflow auto
	top nav-bar-height + 5
	bottom 0
	
	&[showing="on"]
		left 50px
		right -50px
		opacity 0
		

	&[view-mode=list] .item
		display block
		padding 2px
		cursor default
		height 25px
		&:hover, &[focused=on]
			background-color #e5ebf7
		
		img
			max-width 20px
			max-height 20px
			vertical-align middle
	
	&[view-mode=icon] .item
		word-wrap break-word
		display inline-block
		width 75px
		margin 5px
		vertical-align top
		text-overflow ellipsis
		text-align center
		cursor default
		img
			width 75%
			height 75%
			display block
			margin 0 auto
		&:hover
			background-color #e5ebf7
	
	&[hiding-files][view-mode] .item-hide
		opacity 0.5
		// transition-property opacity, height
		// transition-duration 1s

	&[hiding-files=on][view-mode]
		.item-hide
			height 0px
			width 0px
			margin 0
			overflow hidden
			opacity 0
			// transition-property opacity, height
			// transition-duration 1s
	
/* ---------------------------------------------- */
/* ------------ message (404, empty) ------------ */
/* ---------------------------------------------- */

.message-replacing-content 
	font-size 75px
	text-align center
	font-weight bold
	color #ccc
	font-family "Verdana"


.path-edit-panel
	z-index 500
	background-color alpha(white, 80%)
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	
	input
		text-align center
		background-color transparent
		border none
		font-size 200%
		color #555
		width 100%
		font-family "Roboto"
		position absolute
		top 25%
		background-repeat no-repeat
		background-position center center
		background-image linear-gradient(90deg, #0000 0%, #ddd 50%, #0000 100%)
		background-size 100% 100%
		transition background-size .3s
		&:focus
			background-size 0% 100%
			transition background-size .3s
	