@import 'global.styl'

*
	outline none

html, body, section
	height 100%
	width 100%
	margin 0
body
	overflow-x hidden
	font-size 18px
	background url('../img/global.png') no-repeat 0 0
	background-size 100% 100%

section
	// overflow hidden
	height 100%
	width 100%
	position absolute
	left 0
	right 0
	top 0
	transition-property left, right
	transition-duration 2s
	color #333
	font-family 'Ubuntu', sans-serif
	overflow auto
	background-color white
	
	
	&[state=right]
		left 100%
		right -100%
	&[state=left]
		right 100%
		left -100%
		

	&[data-nb="1"]
		color #eee
		text-align center
		background none
		
	article
		margin 50px 0

.main-panel
	height 100%
	width 100%
	display table
	background-color #0009
	.main-panel-text
		display table-cell
		font-weight 900
		vertical-align middle
		
		
		h1
			vertical-align middle
			font-size 6vw
			margin 0
		p
			margin 50px

.inner
	width 750px
	margin auto
	height 100%
	img
		width 80%
		margin auto
		display block
	
