.mfade
	background-color #0008
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	z-index 495

.modal
	position absolute
	border-radius 3px
	background-color #fff
	top 10%
	left 0
	right 0
	margin auto
	width 550px
	z-index 500
	overflow hidden
	
	.mheader
		text-align center
		border-bottom 1px solid #aaa
		position relative
		height 35px
		line-height @height
		h3
			margin 0
			.close
				position absolute
				right 10px
				font-size 25px
				margin-top -2px
				cursor pointer
				color #888
				&:hover
					color black
	.mbody
		padding 0 10px
		overflow auto
		
			
	.mfooter
		height 45px
		line-height 45px
		padding-right 5px
		text-align right
		
		button
			background-color transparent
			border 1px solid #555
			border-color #ccc
			border-radius 3px
			font-family "Open Sans"
			font-size 100%
			min-width 100px
			&:last-of-type
				border-color #75b9e7
				background-color @border-color
				color white
				&:hover
					background-color darken(@border-color, 20%)
			&:hover
				background-color #eee8


	&[data-type=error]
		
		.mheader
			background-color lighten(#ff5d5d, 10%)
			h3
				text-shadow 1px 1px 0 #fff5
				span
					text-shadow none
					color #666
		
		button
			&:last-of-type
				border-color darken(#ff5d5d, 10%)
				background-color transparent
				color #333
				&:hover
					background-color @border-color
					color white
