::-webkit-scrollbar {
  box-sizing: content-box;
  width: 6px;
}
::-webkit-scrollbar-track {
  padding-top: 5px;
  padding-bottom: 5px;
}
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 50px;
  border: 1px solid #fff;
}
::-webkit-scrollbar-thumb:active {
  border-color: transparent;
}
::-webkit-scrollbar-button {
  height: 5px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
  border-bottom: 2px solid transparent;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Trebuchet MS";
  font-size: 16px;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
* {
  box-sizing: border-box;
  outline: none;
}
.atomic-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main {
  width: 100%;
  z-index: 50;
  position: absolute;
  bottom: 0;
  top: 57px;
}
.sidebar {
  display: inline-block;
  width: 20%;
  margin: 0;
  margin-top: -1px;
  background-color: #eee;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.sidebar h3 {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}
.sep {
  width: 2px;
  border: 2px solid transparent;
  position: absolute;
  left: 20%;
  top: 0;
  bottom: 0;
  background-color: transparent;
  cursor: col-resize;
  z-index: 500;
}
article {
  margin: 0;
  display: inline-block;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding-left: 10px;
}
code {
  border: 1px solid #aaa;
  padding: 1px 5px;
}
pre {
  margin: 0;
  height: 100%;
}
pre code {
  border: none;
  padding: 5px;
  padding: 0;
}
.navbar {
  border-bottom: 1px solid #aaa;
  height: 57px;
  position: relative;
}
.navbar-btn-wrapper {
  vertical-align: middle;
  margin: 13px 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
}
.navbar-btn,
navbar-btn svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -12.5px;
}
.navbar-btn path,
navbar-btn svg path {
  fill: #999;
}
.navbar-btn:hover path,
navbar-btn svg:hover path {
  fill: #333;
}
.breadcrumb {
  vertical-align: middle;
  display: inline-block;
  margin-left: 7px;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 11 0px;
  margin-top: 0;
  line-height: 57px;
}
.breadcrumb input[type=text] {
  border: none;
  border-left: 2px solid #ccc;
  padding-left: 5px;
  font-family: "Trebuchet MS";
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li:not(:last-of-type)::after {
  content: "/";
  color: #aaa;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.breadcrumb a {
  color: #86a1ea;
  text-decoration: none;
  cursor: pointer;
}
.breadcrumb a:hover {
  color: #1c42a7;
}
header {
  background-color: #eee;
  height: 56px;
  line-height: 56px;
  padding-left: 10px;
}
header a,
header button {
  text-decoration: none;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border: none;
  font-size: 100%;
  font-family: inherit;
  color: #999;
  margin: 0;
  padding: 0;
}
header a:hover,
header button:hover {
  color: #4f5b66;
}
header a.brand {
  height: 100%;
  font-size: 130%;
  display: inline-block;
/* font-size 150% */
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
}
header nav {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
header ul {
  vertical-align: top;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
}
header nav ul li {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
header .nav-sep {
  border-left: 1px solid #aaa;
  height: 50%;
  width: 1px;
  vertical-align: middle;
}
header .pull-right {
  display: inline-block;
  float: right;
  margin: 0;
  margin-right: 5px;
  height: 100%;
  line-height: 45px;
}
header .pull-right a {
  display: inline-block;
  width: 25px;
  text-align: center;
  fill: #777;
}
header .pull-right a .githubicon {
  margin-top: 5px;
  position: static;
  height: 25px;
  vertical-align: middle;
}
header .pull-right a:hover {
  fill: #444;
}
header .search {
  border: none;
  padding: 5px;
  outline: none;
  width: 200px;
  background-color: transparent;
  font-family: "Trebuchet MS";
  font-size: 90%;
  border-bottom: 4px solid rgba(0,0,0,0.1);
  transition: all 0.3s;
}
header .search.error {
  border-color: #ff8080;
}
header .search.error::-webkit-input-placeholder {
  color: #ff8080;
  font-style: italic;
}
header .search:focus {
  width: 300px;
  transition: all 0.3s;
}
.projects {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  top: 40px;
  left: 10px;
  right: 0;
  overflow: auto;
  overflow-x: auto;
}
.projects ul {
  list-style: none;
  padding-left: 10px;
}
.projects li {
  width: 100%;
  white-space: nowrap;
  text-overflow: none;
  margin-bottom: 5px;
  margin-top: 5px;
}
.projects li a {
  cursor: pointer;
}
.projects li a:hover {
  text-decoration: underline;
}
.spoiler-button,
.spoiler-replace {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid #ccc;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
  margin-right: 10px;
  transition: all 0.2s;
}
.spoiler-button[deployed=on],
.spoiler-replace[deployed=on] {
  transform: rotate(135deg);
  margin-left: 3px;
  margin-right: 7px;
}
.spoiler-button:hover,
.spoiler-replace:hover {
  border-top-color: #333;
  border-right-color: #333;
}
.spoiler-replace {
  border-color: transparent;
}
.spoiler-replace:hover {
  border-color: transparent;
}
.items {
  padding: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  left: 10px;
  right: 0;
  overflow: auto;
  top: 62px;
  bottom: 0;
}
.items[showing="on"] {
  left: 50px;
  right: -50px;
  opacity: 0;
}
.items[view-mode=list] .item {
  display: block;
  padding: 2px;
  cursor: default;
  height: 25px;
}
.items[view-mode=list] .item:hover,
.items[view-mode=list] .item[focused=on] {
  background-color: #e5ebf7;
}
.items[view-mode=list] .item img {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}
.items[view-mode=icon] .item {
  word-wrap: break-word;
  display: inline-block;
  width: 75px;
  margin: 5px;
  vertical-align: top;
  text-overflow: ellipsis;
  text-align: center;
  cursor: default;
}
.items[view-mode=icon] .item img {
  width: 75%;
  height: 75%;
  display: block;
  margin: 0 auto;
}
.items[view-mode=icon] .item:hover {
  background-color: #e5ebf7;
}
.items[hiding-files][view-mode] .item-hide {
  opacity: 0.5;
}
.items[hiding-files=on][view-mode] .item-hide {
  height: 0px;
  width: 0px;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}
.cd-empty {
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  font-family: "Verdana";
}
@charset "UTF-8";
.context-menu-input input[type=checkbox] {
  opacity: 0.5;
}
.context-menu-input input[type=checkbox]::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fcc;
  display: block;
}
.context-menu-icon.context-menu-icon--fa::before,
.context-menu-icon::before {
  left: 0;
  width: 2em;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
}
@font-face {
  font-family: context-menu-icons;
  font-style: normal;
  font-weight: 400;
  src: url("font/context-menu-icons.eot?4pl8q");
  src: url("font/context-menu-icons.eot?4pl8q#iefix") format("embedded-opentype"), url("font/context-menu-icons.woff2?4pl8q") format("woff2"), url("font/context-menu-icons.woff?4pl8q") format("woff"), url("font/context-menu-icons.ttf?4pl8q") format("truetype");
}
.context-menu-icon-add:before {
  content: "\EA01";
}
.context-menu-icon-copy:before {
  content: "\EA02";
}
.context-menu-icon-cut:before {
  content: "\EA03";
}
.context-menu-icon-delete:before {
  content: "\EA04";
}
.context-menu-icon-edit:before {
  content: "\EA05";
}
.context-menu-icon-paste:before {
  content: "\EA06";
}
.context-menu-icon-quit:before {
  content: "\EA07";
}
.context-menu-icon::before {
  font-family: context-menu-icons;
  color: #2980b9;
  transform: translateY(-50%);
}
.context-menu-icon.context-menu-hover:before {
  color: #fff;
}
.context-menu-icon.context-menu-disabled::before {
  color: #bbb;
}
.context-menu-icon.context-menu-icon--fa {
  display: list-item;
  font-family: inherit;
}
.context-menu-icon.context-menu-icon--fa::before {
  font-family: FontAwesome;
  color: #2980b9;
  transform: translateY(-50%);
}
.context-menu-icon.context-menu-icon--fa.context-menu-hover:before {
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa.context-menu-disabled::before {
  color: #bbb;
}
.context-menu-list {
  position: absolute;
  display: inline-block;
  min-width: 13em;
  max-width: 26em;
  padding: 0.25em 0;
  margin: 0.3em;
  font-family: inherit;
  font-size: inherit;
  list-style-type: none;
  background: #fff;
  border: 1px solid #bebebe;
  box-shadow: 0 0px 5px rgba(0,0,0,0.1);
}
.context-menu-item {
  position: relative;
  padding: 0.2em 2em;
  color: #2f2f2f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  cursor: default;
}
.context-menu-item.context-menu-hover {
  background-color: #badcf3;
}
.context-menu-item.context-menu-disabled {
  color: #bbb;
  cursor: default;
  background-color: #fff;
}
.context-menu-item.context-menu-input {
  padding: 0.3em 0.6em;
}
.context-menu-item > .context-menu-list {
  top: 0.3em;
  right: -0.3em;
  display: none;
}
.context-menu-item.context-menu-visible > .context-menu-list {
  display: block;
}
.context-menu-separator {
  padding: 0;
  margin: 0.35em 0;
  border-bottom: 1px solid #e6e6e6;
}
.context-menu-item>label>input,
.context-menu-item>label>textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.context-menu-input.context-menu-hover {
  cursor: default;
}
.context-menu-input > label {
  margin: 0;
}
.context-menu-input > label > * {
  vertical-align: top;
}
.context-menu-input > label > textarea {
  height: 7em;
}
.context-menu-submenu:after {
  position: absolute;
  top: 50%;
  right: 0.5em;
  z-index: 1;
  width: 0;
  height: 0;
  content: '';
  border-color: transparent transparent transparent #2f2f2f;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.25em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.context-menu-input>label>input[type=checkbox],
.context-menu-input>label>input[type=radio] {
  position: relative;
  top: 0.12em;
  margin-right: 0.4em;
}
.context-menu-input>label,
.context-menu-input>label>input[type=text],
.context-menu-input>label>select,
.context-menu-input>label>textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.context-menu-accesskey {
  text-decoration: underline;
}
.mfade {
  background-color: rgba(0,0,0,0.533);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 495;
}
.modal {
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: 550px;
  z-index: 500;
  overflow: hidden;
}
.modal .mheader {
  text-align: center;
  border-bottom: 1px solid #aaa;
  position: relative;
  height: 35px;
  line-height: 35px;
}
.modal .mheader h3 {
  margin: 0;
}
.modal .mheader h3 .close {
  position: absolute;
  right: 10px;
  font-size: 25px;
  margin-top: -2px;
  cursor: pointer;
  color: #888;
}
.modal .mheader h3 .close:hover {
  color: #000;
}
.modal .mbody {
  padding: 0 10px;
  overflow: auto;
}
.modal .mfooter {
  height: 45px;
  line-height: 45px;
  padding-right: 5px;
  text-align: right;
}
.modal .mfooter button {
  background-color: transparent;
  border: 1px solid #555;
  border-color: #ccc;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 100%;
  min-width: 100px;
}
.modal .mfooter button:last-of-type {
  border-color: #75b9e7;
  background-color: #75b9e7;
  color: #fff;
}
.modal .mfooter button:last-of-type:hover {
  background-color: #3a9bdd;
}
.modal .mfooter button:hover {
  background-color: rgba(238,238,238,0.533);
}
.modal[data-type=error] .mheader {
  background-color: #ff6d6d;
}
.modal[data-type=error] .mheader h3 {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.333);
}
.modal[data-type=error] .mheader h3 span {
  text-shadow: none;
  color: #666;
}
.modal[data-type=error] button:last-of-type {
  border-color: #ff3a3a;
  background-color: transparent;
  color: #333;
}
.modal[data-type=error] button:last-of-type:hover {
  background-color: #ff3a3a;
  color: #fff;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}
.hljs-literal {
  color: #0184bb;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
